<!-- BOOK LIST -->
<div class="container">
  <h2 class="categories-list__title js-last-word">Category title</h2>
  <ul class="books-list">
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
    <li class="book-list__item">
      <a href="#">
        <div class="book-thumb">
          <img
            class="book-img"
            src="../img/picture-for-html.jpg"
            width="335"
            alt=""
          />
          <div class="book-overlay">quick view</div>
        </div>
        <h3 class="book-tittle">Book title</h3>
        <p class="book-author">John Snow</p>
      </a>
    </li>
  </ul>
</div>
