<footer class="footer"> <!-- footer-dark -->
    <div class="footer-logo-svg">
    <div class="footer-logo-description">
        <svg class="logo-svg">
            <use class="logo-svg" href = "./img/sprite.svg#logo"></use>
    </svg>
    <a class="footer-logo" href="#">Bookshelf</a> <!-- footer-logo-dark -->
    </div>
    <ul class="footer-nav">
        <li class="footer-navigation-elements footer-nth-child"><a class="footer-nav-description" href="#">HOME</a></li> <!-- footer-nav-description-dark -->
        <li class="footer-navigation-elements footer-nth-child"><a class="footer-nav-description" href="#">SHOPPING LIST</a></li> <!-- footer-nav-description-dark -->
        <!-- <li class="footer-navigation-elements"><a class="footer-nav-description" href="#">LOG OUT</a></li> footer-nav-description-dark -->
    </ul>
    </div>

    <!-- MODAL -->
    <div id="Footer-modal" class="footer-modal">
        <div class="footer-modal-content"> <!-- dark -->
            <span class="footer-close-modal">&times;</span>
            <div class="footer-main-logo-svg">
            <svg class="footer-modal-svg-book">
                <use class="logo-svg" href = "../img/sprite.svg#logo"></use>
            </svg>
            <h2 class="footer-hero-modal">Our Team</h2> <!-- dark -->
            </div>
             
                <div class="developer-card"> <!-- dark -->
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead"> <!-- dark -->
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                    <svg class="footer-svg">
                    <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                    <svg class="footer-svg-linkedin">
                    <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
                </div>
    
                <div class="developer-card">
                    <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                    <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                    <p class="footer-dev-job">Team Lead</p>
                        <ul class="footer-svg-position">
                        <li>
                            <svg class="footer-svg">
                            <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                        </svg>
                        </li>
                        <li>
                            <svg class="footer-svg-linkedin">
                            <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                        </svg>
                        </li>
                        </ul>
                    </div>
               
                    <div class="developer-card">
                        <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                        <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                        <p class="footer-dev-job">Team Lead</p>
                            <ul class="footer-svg-position">
                            <li>
                                <svg class="footer-svg">
                                <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                            </svg>
                            </li>
                            <li>
                                <svg class="footer-svg-linkedin">
                                <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                            </svg>
                            </li>
                            </ul>
                        </div>
    
                  <div class="developer-card">
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                        <svg class="footer-svg">
                        <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="footer-svg-linkedin">
                        <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
                </div>
    
                  <div class="developer-card">
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                        <svg class="footer-svg">
                        <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="footer-svg-linkedin">
                        <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
                </div>
    
                  <div class="developer-card">
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                        <svg class="footer-svg">
                        <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="footer-svg-linkedin">
                        <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
                </div>
    
                  <div class="developer-card">
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                        <svg class="footer-svg">
                        <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="footer-svg-linkedin">
                        <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
                </div>
    
                  <div class="developer-card">
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                        <svg class="footer-svg">
                        <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="footer-svg-linkedin">
                        <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
                </div>
    
                <div class="developer-card">
                    <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                    <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                    <p class="footer-dev-job">Team Lead</p>
                        <ul class="footer-svg-position">
                        <li>
                            <svg class="footer-svg">
                            <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                        </svg>
                        </li>
                        <li>
                            <svg class="footer-svg-linkedin">
                            <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                        </svg>
                        </li>
                        </ul>
                    </div>
    
                  <div class="developer-card">
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                        <svg class="footer-svg">
                        <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="footer-svg-linkedin">
                        <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
                </div>
    
                  <div class="developer-card">
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                        <svg class="footer-svg">
                        <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="footer-svg-linkedin">
                        <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
                </div>
    
                  <div class="developer-card">
                <img class="team-photos" src="../img/team-photos/TeamLead.jpg" alt="Team-Lead">
                <h3 class="footer-dev-name">Oleksandr Kozlov</h3>
                <p class="footer-dev-job">Team Lead</p>
                    <ul class="footer-svg-position">
                    <li>
                        <svg class="footer-svg">
                        <use class="fill-footer-svg" href = "../img/footer-sprite.svg#icon-github-logo"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="footer-svg-linkedin">
                        <use href = "../img/footer-sprite.svg#icon-linkedin-logo"></use>
                    </svg>
                    </li>
                    </ul>
    </div>
    </div>
    </div>
<button class="footer-btn">OUR TEAM</button> <!-- footer-btn-dark -->
</div>
</footer>