<footer class="footer"> <!-- footer-dark -->
    <div class="footer-logo-svg">
        <svg class="logo-svg">
            <use class="logo-svg" href = "../img/sprite.svg#logo"></use>
    </svg>
    <a class="footer-logo" href="#">Bookshelf</a> <!-- footer-logo-dark -->
    </div>
    <div>
    <ul class="footer-nav">
        <li class="footer-navigation-elements footer-nth-child"><a class="footer-nav-description" href="#">HOME</a></li> <!-- footer-nav-description-dark -->
        <li class="footer-navigation-elements footer-nth-child"><a class="footer-nav-description" href="#">SHOPPING LIST</a></li> <!-- footer-nav-description-dark -->
        <li class="footer-navigation-elements"><a class="footer-nav-description" href="#">LOG OUT</a></li> <!-- footer-nav-description-dark -->
    </ul>
    <div class="about-our-team">
    <button class="footer-btn ">OUR TEAM</button> <!-- footer-btn-dark -->
    </div>
</div>
</footer>