<header class="header">
  <nav class="nav">
    <a href="./index.html" class="logo">
      <svg width="109px" height="28px">
        <use href="../img/svg-sprite.svg#icon-lightLogo"></use>
      </svg>
    </a>
    <div class="nav-items">
      <div class="checkbox">
        <input type="checkbox" id="highload1" name="highload1" />
        <label
          for="highload1"
          data-onlabel="light"
          data-offlabel="dark"
          class="lb1"
        ></label>
      </div>

      <!-- <div class="nav-item icon-burger"> -->
      <a href="./shop.html" class="nav-link icon-burger"
        ><svg width="28px" height="28px">
          <use href="../img/svg-sprite.svg#icon-align-left-1"></use></svg
      ></a>
      <!-- </div> -->
      <div class="nav-item" hidden>
        <a href="./shop.html" class="nav-link">бук шоп</a>
      </div>
    </div>
  </nav>
</header>
