<header class="header">
  <div class="container header-content">
    <!-- HEADER LOGO -->

    <div class="logo">
      <a href="./index.html" class="logo-bookshelf">
        <svg
          class="header-logo"
          width="24"
          height="24"
          aria-label="logo bookshelf"
        >
          <use href="./img/sprite.svg#logo"></use></svg>Bookshelf
      </a>
    </div>
    <div class="main-menu js-mobile-menu">
      <ul class="header-nav">
        <li class="header-home-item">
          <a
            href="./index.html"
            class="header-home-btn js-home-btn is-active-btn"
            data-home-btn
            data-sign-advanced
            >Home</a
          >
        </li>
        <li class="header-shop-item">
          <a
            href="./shop.html"
            class="header-shopping-btn js-shopping-btn"
            data-shopping-btn
            data-sign-advanced
          >
            Shopping list
            <svg
              class="header-shopping-logo"
              width="14"
              height="17"
              aria-label="shopping logo"
            >
              <use href="./img/sprite.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- SIGN UP -->
      <div class="header-sign-btn" data-sign-base>
        <button
          class="log-in-btn"
          type="button"
          data-modal-open
          aria-label="sign in"
        >
          <span class="sign-up-btn__text">Sign up</span>
          <svg class="sign-up-btn__icon" width="20" height="20">
            <use href="./img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <ul class="user-bar js-user-bar visually-hidden">
          <li class="user-bar__item">
            <!-- User-bar-btn -->
            <button
              class="user-bar-btn js-user-bar-btn"
              type="button"
              aria-label="user bar button"
            >
              <svg class="user-bar-btn__avatar-icon" width="30" height="30">
                <use href="./img/sprite.svg#user"></use>
              </svg>
              <span class="user-bar-btn__text"></span>
              <svg class="user-bar-btn__arrow-icon" width="23" height="26">
                <use href="./img/sprite.svg#icon-down-1"></use>
              </svg>
            </button>
            <ul class="dropdown">
              <li class="dropdown-list__item">
                <!-- Log-out-btn -->
                <button
                  class="log-out-btn js-log-out-btn"
                  type="button"
                  aria-label="Log out"
                >
                  <span class="log-out-btn__text">Log out</span>
                  <svg class="log-out-btn__icon" width="20" height="20">
                    <use href="./img/sprite.svg#arrow-right"></use>
                  </svg>
                </button>
              </li>
            </ul>
      </div>
    </div>
    <!-- SWITCH AND BURGER -->
    <div class="form-check">
      <label class="switch" type="checkbox" id="themeSwitcher">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <button type="button" class="header-menu-btn" id="mobile-menu-btn">
        <svg
          class="icon-menu-burger"
          width="28"
          height="28"
          aria-label="Switch-on mobile menu"
        >
          <use class="icon-menu" href="./img/sprite.svg#menu-burger"></use>
          <use class="icon-cross" href="./img/sprite.svg#x-close"></use>
        </svg>
      </button>
    </div>
  </div>

  <!--HEADER NAV -->
</header>
