
<section class="section-shoppingList">    
    <div class="container-shoppingList">
        <h2 class="title-section">Shopping <span class="titel-span">List</span></h2>
        <ul class="ulShoppingList">
            <li class="item-shoppingList">
                <img class="pict-shoppingList" src="../img/sprite.svg" alt="img"></img>
                <div class="content-container-shoppingList">
                    <div class="title-delete-shoppingList">
                        <div class="title-shoppingList">
                            <h3>I WILL FIND YOU</h3>
                            <p>Hardcover fiction</p>
                        </div>
                        <img src="../img/shopping-list/delete.svg" alt="delete"></img>
                    </div>
                    <div class="discription-shoppinglist">David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream life just a short drive away from the working-class suburb where he and his wife, Cheryl, first fell in love--until one fateful night when David woke suddenly to discover Matthew had been murdered while David was asleep just down the hall.</div>
                    <div>
                    <div class="autor-link-shoppingList">
                        <p>Taylor Jenkins Reid</p>
                        <div class="links-shoppingList">
                            <img src="../img/icon-book-store/amazon.svg" alt="amazon">
                            <img src="../img/icon-book-store/apple-store.png" alt="apple">
                            <img src="../img/icon-book-store/book-shop.png" alt="book-shop">
                        </div>
                    </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pagination-shoppingList"></div>
    </div>
    
    </section>