
<section class="section-shoppingList">    
    <div class="container-shoppingList">
        <h2 class="title-section shop-title">Shopping <span class="titel-span">List</span></h2>
        <div class="pagination-shoppingList">

        </div>
        <div class="emptyList">
            <p class="empty-text">This page is empty, add some books and <br>proceed to order.</p>
            <img class="empty-img" src="../img/shopping-list/books-fon.png" alt="empty">
        </div>
    </div>
    
    </section>



