<div class="container">
  <div class="js-books-list books-wrapper">
    <section class="section-bestsellers">
      <div class="container-besrsellers">
        <h2 class="title-section">
          Best Sellers <span class="titel-span">Books</span>
        </h2>
        <ul class="list-categories">
          <li class="item-category">
            <h3 class="title-category">Combined Print and E-Book Fiction</h3>
            <ul class="list-books">
              <li class="item-book">
                <a class="link-book" href="#">
                  <img class="pict-book" src="" alt="description" />
                  <h4 class="title-book">I will find you</h4>
                  <p class="author">Harlan Coben</p>
                </a>
              </li>
            </ul>
            <button class="btn btn-seemore">See more</button>
          </li>
          <li class="item-book">
            <a class="link-book" href="#">
              <img class="pict-book" src="" alt="description">
              <h4 class="title-book">I will find you</h4>
              <p class="author">Harlan Coben</p>
            </a>
          </li>
          <li class="item-book">
            <a class="link-book" href="#">
              <img class="pict-book" src="" alt="description">
              <h4 class="title-book">I will find you</h4>
              <p class="author">Harlan Coben</p>
            </a>
          </li>
        </ul>
        <button class="btn btn-seemore">See more</button>
      </li>

      <li class="item-category">
        <h3 class="title-category">Combined Print and E-Book Fiction</h3>
        <ul class="list-books">
          <li class="item-book">
            <a class="link-book" href="#">
              <img class="pict-book" src="" alt="description">
              <h4 class="title-book">I will find you</h4>
              <p class="author">Harlan Coben</p>
            </a>
          </li>
          <li class="item-book">
            <a class="link-book" href="#">
              <img class="pict-book" src="" alt="description">
              <h4 class="title-book">I will find you</h4>
              <p class="author">Harlan Coben</p>
            </a>
          </li>
          <li class="item-book">
            <a class="link-book" href="#">
              <img class="pict-book" src="" alt="description">
              <h4 class="title-book">I will find you</h4>
              <p class="author">Harlan Coben</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
    



<!-- BOOK LIST -->
    <h2 class="categories-list__title js-last-word">Category title</h2>
    <ul class="books-list">
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
      <li class="book-list__item">
        <a href="#">
          <div class="book-thumb">
            <img
              class="book-img"
              src="../img/picture-for-html.jpg"
              width="335"
              alt=""
            />
            <div class="book-overlay">quick view</div>
          </div>
          <h3 class="book-tittle">Book title</h3>
          <p class="book-author">John Snow</p>
        </a>
      </li>
    </ul>
  </div>
</div>
