<div class="backdrop hi-backdrop" data-modal>
    <div class="modal" id="modalWindow">
      <button type="button" class="modal-btn" data-action="close-modal">
        <img class="modal-icon" src="../img/icon-book-store/icon.png" alt="close" width="14" height="14" />
      </button>
      <div class="modal-content"></div>
      <div class="modal-content-card">
        <div class="modal-content-img">
          <img class="modal-content-pict" src="" alt="" data-book-id="book-id" />
        </div>
        <div class="modal-content-text">
          <h2 class="modal-content-titl"></h2>
          <p class="modal-content-autur"></p>
          <p class="modal-content-abst"></p>
          <ul class="modal-link">
            <li>
              <a class="modal-link" href="#">
                <img class="modal-link-icon" src="../img/icon-book-store/amazon.png" alt="amazon" width="62" height="19">
              </a>
            </li>
            <li>
              <a class="modal-link" href="#">
                <img class="modal-link-icon" src="../img/icon-book-store/apple-store.png" alt="apple shop" width="33" height="32">
              </a>
            </li>
            <li>
              <a class="modal-link" href="#">
                <img class="modal-link-icon" src="../img/icon-book-store/book-shop.png" alt="book shop" width="38" height="36">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="openmodal-btn closemodal-btn" data-action="add-to-list" data-book-id="book-id">Add to shopping list</button>
      <p class="modal-text">
        Congratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
  