<div class="backdrop backdrop-backdrop" data-modal>
    <div class="modal-window">
        <button type="button" class="close-modal">x</button>
        <div class="book-details">
            <img src="" alt="Обкладинка книги" class="book-cover">
            <h3 class="book-title">Назва книги</h3>
            <p class="book-author">Автор</p>
        <p class="book-description">Короткий опис книги</p>
        <ul class="book-links">
            <li><a href="shop1">Amazon</a></li>
            <li><a href="shop2">Apple</a></li>
            <li><a href="shop3">Shop3</a></li>
          </ul>
        </div>
        <button class="add-to-cart" type="button">Add to shopping list</button>
            <p class="modal-text">
                Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.
            </p>
    </div>
</div>