<div class="backdrop hi-backdrop" data-modal>
    <div class="modal" id="modalWindow">

      <button type="button" class="modal-btn" data-action="close-modal">
        <img class="modal-icon" src="./img/icon-book-store/icon.png" alt="close" width="14" height="14" />
      </button>
      <div class="modal-content">
      <div class="modal-content-body"></div>
      <button type="button" class="add-modal-btn rem-modal-btn" data-action="add-to-list" data-book-id="book-id">Add to shopping list</button>
      <p class="modal-text">
        Congratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
  