<form class="authorization__form" id="sign-up">
      <!-- inputs -->
      <div class="authorization__field">
        <input
          type="text"
          name="name"
          class="authorization__input authorization__input__dark"
          id="user_name"
          required=""
          placeholder="&#32;"
          autocomplete="off"
        />
        <label class="authorization__label" for="user_name">name</label>
      </div>

      <div class="authorization__field">
        <input
          type="email"
          name="email"
          class="authorization__input authorization__input__dark"
          id="user_email_up"
          required=""
          placeholder="&#32;"
        />
        <label class="authorization__label" for="user_email_up">email</label>
        <svg class="authorization__icon authorization__icon__dark">
          <use href="../img/sprite.svg#email"></use>
        </svg>
      </div>

      <div class="authorization__field">
        <input
          type="password"
          name="password"
          class="authorization__input authorization__input__dark"
          id="user_password_up"
          required=""
          placeholder="&#32;"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
          title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number."
        />
        <label class="authorization__label" for="user_password_up"
          >password
        </label>
        <svg class="authorization__icon authorization__icon__dark">
          <use href="../img/sprite.svg#lock"></use>
        </svg>
      </div>
      <!-- btn submit -->
      <button type="submit" class="authorization__btn__submit authorization__btn__submit__dark">Sign up</button>
    </form>