<section class="supportUA js-support">
  <div class="support_wrap-title">
    <h3 class="support_title">Support Ukraine</h3>
    <svg class="support_gerb" width="20" height="32">
      <!-- emblema -->
      <use href="./img/sprite.svg#tryzub"></use>
    </svg>
  </div>
  <div class="swiper">
    <ul class="support_list-js swiper-wrapper"></ul>
  </div>
  <button
    class="support_btn swiper-button-next"
    type="button"
    aria-label="swipe fund`s list down button"
  >
    <svg class="support_btn-icon" width="38" height="38">
      <!-- strelka do dolu -->
      <use
        href="./img/icons.svg#icon-arrow-down"
      ></use>
    </svg>
  </button>
</section>
