.categories-list {
  font-family: 'DM Sans Regular';
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: var(--main-textcolor);
  margin-bottom: 40px;

  width: 100%;
  max-height: 228px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .categories-list {
    width: 337px;
    min-height: 472px;
    max-height: 472px;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 0;
  }
  ::-webkit-scrollbar-thumb {
    height: 167px;
  }
}

@media (min-width: 1440px) {
  .categories-list {
    width: 356px;
    margin-bottom: 86px;
  }
}

.categories-list__item {
  margin-bottom: 24px;
  transition: var(--defolt-animation);
}
.categories-list__item.is-active {
  color: var(--hover-button);
  text-transform: uppercase;
  font-family: 'DM Sans Bold';
  transition: var(--defolt-animation);
}

.categories-list__item:hover,
.categories-list__item:active {
  color: var(--hover-button);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(224, 224, 224, 1);
  border-radius: 12px;
  height: 114px;
}
