.footer-logo {
   font-family:'DM Sans Bold';
   font-size: 30px;
   color: #000000;
  }
  .footer-logo-dark {
    color: #F3F3F3;
  }
  .footer-logo:hover,
  .footer-logo:focus {
    color: #4F2EE8;
    transition: color var(--defolt-animation);
  }
  .footer-logo-dark:hover,
  .footer-logo-dark:focus {
    color: #EAC645;
    transition: color var(--defolt-animation);
  }
  .footer-logo-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 15px;
  }
  .footer {
  background: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  }
  .footer-dark {
    background: #111111;
  }
  .footer-nav {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
  }
  .footer-nav-description {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  cursor: pointer;
  color: rgba(17, 17, 17, 0.6);
  transition: color var(--defolt-animation);
  }
  .footer-nav-description-dark {
    color: #FFFFFF;
    transition: color var(--defolt-animation);
  }
  .footer-nav-description:hover,
  .footer-nav-description:focus {
    color: #4F2EE8;
    transition: color var(--defolt-animation);
  }
  .footer-nav-description-dark:hover,
  .footer-nav-description-dark:focus {
    color: #EAC645;
    transition: color var(--defolt-animation);
  }
  .about-our-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .footer-btn {
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  cursor: pointer;
  color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  border: 2px solid #4F2EE8;
  border-radius: 40px;
  background-color: #FFFFFF;
  }
  .footer-btn-dark {
    background-color: #111111;
    color: #FFFFFF;
  }
  .logo-svg {
  width: 24px;
  height: 24px;
  }
  .footer-btn:focus,
  .footer-btn:hover{
  background-color: #4F2EE8;
  color: #FFFFFF;
  transition: color var(--defolt-animation);
  transition: background-color var(--defolt-animation);
  }

/* TABLET */
@media screen and (min-width:768px) {
  .footer-logo {
  font-size: 40px;
  }
  .footer-logo-svg {
  margin-bottom: 30px;
  }
  .footer-nav {
  margin-bottom: 30px;
  gap: 20px;
  }
  .logo-svg {
    width: 27px;
    height: 27px;
  }
  .footer {
  padding-top: 40px;
  padding-bottom: 40px;
  }
  .footer-nav-description {
    font-size: 20px;
    }
}

/* PC */
@media screen and (min-width:1024px) {
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 175px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .logo-svg {
    width: 42px;
    height: 42px;
  }
  .footer-logo {
    font-size: 60px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: unset;
    margin-bottom: 0px;
  }
  .footer-navigation-elements:nth-last-child(1) {
    margin-bottom: 10px;
  }
  .footer-nth-child {
    margin-bottom: 10px;
  }
  .footer-nav-description {
    font-size: 27px;
  }
  .footer-logo-svg {
    margin-bottom: 60px;
  }
 .footer-btn {
  font-size: 17px;
 }
}

/* PC */
@media screen and (min-width:1440px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .logo-svg {
    width: 60px;
    height: 60px;
  }
  .footer-logo {
    font-size: 80px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: unset;
    margin-bottom: 0px;
  }
  .footer-navigation-elements:nth-last-child(1) {
    margin-bottom: 13px;
  }
  .footer-nth-child {
    margin-bottom: 10px;
  }
  .footer-nav-description {
    font-size: 30px;
  }
  .footer-logo-svg {
    margin-bottom: 70px;
  }
 .footer-btn {
  font-size: 20px;
 }
}
