
/* MAIN CSS FOOTER */
.footer-logo {
   font-family:'DM Sans Bold';
   font-size: 38px;
   color: #000000;
  }
  .footer-logo-dark {
    font-family:'DM Sans Bold';
    font-size: 30px;
    color: #F3F3F3;
  }
  .footer-logo:hover,
  .footer-logo:focus {
    color: #4F2EE8;
    transition: color var(--defolt-animation);
  }
  .footer-logo-dark:hover,
  .footer-logo-dark:focus {
    color: #EAC645;
    transition: color var(--defolt-animation);
  }
  .footer-logo-svg {
  gap: 8px;
  }
  .footer {
  background: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  }
  .footer-dark {
  background: #111111;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: 1.5px solid #FFFFFF;
  border-radius: 0px 0px 8px 8px;
  }
  .footer-nav {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 15px;
  }
  .footer-logo-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .footer-nav-description {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  cursor: pointer;
  color: rgba(17, 17, 17, 0.6);
  transition: color var(--defolt-animation);
  }
  .footer-nav-description-dark {
    font-family: 'DM Sans Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    cursor: pointer;
    color: #FFFFFF;
    transition: color var(--defolt-animation);
  }
  .footer-nav-description:hover,
  .footer-nav-description:focus {
    color: #4F2EE8;
    transition: color var(--defolt-animation);
  }
  .footer-nav-description-dark:hover,
  .footer-nav-description-dark:focus {
    color: #EAC645;
    transition: color var(--defolt-animation);
  }
  .about-our-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .footer-btn {
  font-family: 'DM Sans' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  cursor: pointer;
  color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  border: 1.5px solid #4F2EE8;
  border-radius: 40px;
  margin: auto;
  background-color: #FFFFFF;
  }
  .footer-btn-dark {
    font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  border: 2px solid #4F2EE8;
  border-radius: 40px;
  margin: auto;
  background-color: #111111;
  color: #FFFFFF;
  }
  .logo-svg {
  width: 44px;
  height: 44px;
  }
  .footer-btn:focus,
  .footer-btn:hover{
  background-color: #4F2EE8;
  color: #FFFFFF;
  transition: color var(--defolt-animation);
  transition: background-color var(--defolt-animation);
  }.footer-btn-dark:focus,
  .footer-btn-dark:hover{
  background-color: #4F2EE8;
  color: #FFFFFF;
  transition: color var(--defolt-animation);
  transition: background-color var(--defolt-animation);
  }

/* TABLET */
@media screen and (min-width:768px) {
  .footer-logo {
  font-size: 40px;
  }
  .footer-logo-dark {
    font-size: 40px;
    }
  .footer-logo-svg {
    padding-left: 80px;
  }
  .footer-nav {
  gap: 10px;
  margin-top: 10px;
  padding-left: 15px;
  margin-bottom: 0px;
  text-align: center;
  }
  .logo-svg {
    width: 34px;
    height: 34px;
  }
  .footer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  }
  .footer-dark {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  }
  .footer-nav-description {
    font-size: 18px;
  }
  .footer-nav-description-dark {
    font-size: 20px;
  }
}

/* PC */
@media screen and (min-width:1024px) {
.footer-logo-description {
  gap: 12px;
}
.logo-svg {
  width: 54px;
  height: 54px;
}
.footer-logo {
  font-size: 60px;
}
.footer-logo-dark {
  font-size: 60px;
}
.footer-nav {
    gap: 15px;
    padding-left: 30px;
}
.footer-nav-description {
    font-size: 27px;
}
.footer-nav-description-dark {
    font-size: 27px;
}
 .footer-btn {
  font-size: 20px;
}
 .footer-btn-dark {
  font-size: 20px;
}
}

/* PC */
@media screen and (min-width:1440px) {
.footer-logo-description {
  gap: 12px;
}
.logo-svg {
  width: 64px;
  height: 64px;
}
.footer-logo {
  font-size: 70px;
}
.footer-logo-dark {
  font-size: 70px;
}
.footer-nav {
  padding-left: 70px;
}
.footer-nav-description {
  font-size: 25px;
  text-align: center;
}
.footer-nav-description-dark {
  font-size: 25px;
  text-align: center;
}
.footer-logo-svg {
  padding-left:200px;
}
.footer-btn {
  font-size: 20px;
}
.footer-btn-dark {
  font-size: 20px;
}
}

/* MODAL OUR TEAM FOOTER */
.footer-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.footer-modal-content {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow-y: auto;
  scroll-behavior: smooth;
  border: 1.5px solid #111111;
}
.footer-modal-content-dark {
  background-color: #202024;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow-y: auto;
  scroll-behavior: smooth;
  border: 1.5px solid #FFFFFF;
}
.footer-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  font-weight: lighter;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 34px;
  height: 34px;
  border: 1.5px solid #4F2EE8;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer-close-modal:hover,
.footer-close-modal:focus {
  background-color: #4F2EE8;
  box-shadow: 0 0 10px rgba(79, 46, 232, 0.3);
  transition: var(--defolt-animation);
}

.footer-close-modal:hover .footer-modal-close-btn,
.footer-close-modal:focus .footer-modal-close-btn {
  fill: #FFFFFF;
  transition: var(--defolt-animation)
}
.footer-close-modal-dark:hover,
.footer-close-modal-dark:focus {
  background-color: #EAC645;
  box-shadow: 0 0 10px rgba(79, 46, 232, 0.3);
}
.footer-close-modal-dark {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  font-weight: lighter;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4F2EE8;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* MODAL CSS CONTENT */
.modal-color-dev {
  color: #4F2EE8;
}
.footer-modal-svg-book {
  width: 24px;
  height: 24px;
}
.footer-main-logo-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.developer-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 40px;
}
.developer-card-dark {
  box-shadow: rgba(213, 211, 211, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  padding: 15px;
  background-color: #111111;
  margin-bottom: 40px;
}
.developer-card:hover {
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: var(--defolt-animation);
}

.developer-card:hover .footer-svg-position {
  transform: scale(0.9);
  transition: var(--defolt-animation);
}
.developer-card-dark:hover {
  transform: scale(1.05);
  transition: var(--defolt-animation);
}

.developer-card-dark:hover .footer-svg-position {
  transform: scale(0.9);
  transition: var(--defolt-animation);
}
.footer-hero-modal {
  font-family:'DM Sans Bold';
   font-size: 30px;
   color: #000000;
   text-align: center;
}
.footer-hero-modal-dark {
  font-family:'DM Sans Bold';
   font-size: 20px;
   color: #FFFFFF;
   text-align: center;
}
.team-photos {
  border: 2px solid #4F2EE8;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.team-photos-dark {
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.footer-svg-position {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px;
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out;
}

.footer-svg-position:hover {
  transform: scale(1);
}
.fill-footer-svg {
  fill: #4F2EE8;
}
.fill-footer-svg-dark {
  fill: #FFFFFF;
}
.footer-modal-close-btn {
  fill: #4F2EE8;
}
.footer-dev-job {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #5f5d5d;
  text-align: center;
  margin-bottom: 5px;
}
.footer-dev-job-dark {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #bdbaba;
  text-align: center;
  margin-bottom: 5px;
}
.footer-dev-name {
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111111;
}
.footer-dev-name-dark {
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width:768px) {
  .footer-hero-modal {
    font-size: 35px;
  }
  .footer-hero-modal-dark {
    font-size: 35px;
  }
  .footer-modal-svg-book {
    width: 44px;
    height: 44px;
  }
  .footer-main-logo-svg {
    padding: 35px;
  }
  .team-photos {
    width: 250px;
    height: 250px;
  }
  .team-photos-dark {
    width: 250px;
    height: 250px;
  }
  .footer-modal-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .footer-modal-content-dark {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .developer-card {
    margin-bottom: 30px;
  }
  .developer-card-dark {
    margin-bottom: 30px;
  }
  .dev-cards-leaders {
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width:1024px) {
  .footer-modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
    width: 99%;
  }
  .footer-modal-content-dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 99%;
  }
  .footer-main-logo-svg {
    text-align: center;
  }
  .dev-cards-leaders {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 200px;
  }
}
@media screen and (min-width:1440px) {
  .dev-cards-leaders {
    display: block;
    gap: 27px;
  }
  .footer-modal-content{
    width: 70%;
  }
  .footer-modal-content-dark{
    width: 70%;
  }
  .footer-hero-modal {
    font-size: 44px;
    padding: 10px;
  }
  .footer-hero-modal-dark {
    font-size: 44px;
    padding: 10px;
  }
  .footer-modal-svg-book {
    width: 66px;
    height: 66px;
  }
  .footer-main-logo-svg {
    gap: unset;
    display: flex;
    flex-direction: column;
  }
  .modal-color-dev {
    font-size: 44px;
    padding: 15px;
  }
}
.footer-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1.5px solid #4F2EE8;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
}
.footer-scroll-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4F2EE8;
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
}
.footer-arrow{
  fill: #4F2EE8;
}
.footer-arrow-dark{
  fill: #FFFFFF;
}
.footer-arrow-dark:hover,
.footer-arrow-dark:focus{
  fill: #FFFFFF;
}
.footer-scroll:hover,
.footer-scroll:focus {
  background-color: #4F2EE8;
  box-shadow: 0 0 10px rgba(79, 46, 232, 0.3);
  transition: var(--defolt-animation);
}
.footer-scroll:hover .footer-arrow,
.footer-scroll:focus .footer-arrow {
  fill: #FFFFFF;
  transition: var(--defolt-animation);
}
.footer-scroll-dark:hover,
.footer-scroll-dark:focus {
  background-color:#EAC645;
  box-shadow: 0 0 10px rgba(79, 46, 232, 0.3);
  transition: var(--defolt-animation);
}
.footer-svg-linkedin:hover .fill-footer-svg {
  fill: #000000;
  box-shadow: 0 0 10px rgba(79, 46, 232, 0.3);
  transition: var(--defolt-animation);
}
.footer-svg-linkedin-dark:hover .fill-footer-svg {
  fill:#EAC645;;
  box-shadow: 0 0 10px rgba(79, 46, 232, 0.3);
  transition: var(--defolt-animation);
}

