* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background: var(--background-header);
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  padding: 22px 0 22px 0;
  margin-bottom: 40px;
}
/* Toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* SIGN UP */

.log-in-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .log-in-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 184px;
    padding: 13px 14px;
    background: #4f2ee8;
    border: 1.5px solid var(--H2-textcolor);
    border-radius: 18px;
    cursor: pointer;
    transition: all var(--defolt-animation)
  }
}

.log-in-btn:hover {
  background: var(--background-header);
  color: #000000;
}

.log-in-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: #ffffff;
}

/* MAIN CSS*/

/* Dark-theme */

.dark-theme .header {
  background: var(--H2-textcolor);
  border: 1.5px solid #ffffff;
}

.dark-theme .logo {
  color: #F3F3F3;
}

/* .header-menu-open {
  fill: var(--H2-textcolor);
} */

.icon-menu-burger {
  stroke: #111111;
  transition: all var(--defolt-animation);
}
.icon-menu-burger:hover {
  stroke: #4f2ee8;
}

.dark-theme .icon-menu-burger {
  stroke: #ffffff;
}


.header-menu-closed {
  display: none;
}

.header-menu-closed,
.header-menu-open {
  z-index: 100;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

/* MOBILE MENU */

/* .header {
  z-index: 50;
  background: var(--background-header);
  position: fixed;
  width: 100%;
  opacity: 0.9;
} */
.header-content {
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 0;
  padding: 0;
  color: var(--H2-textcolor);
}

.logo-bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  font-family: 'DM Sans Bold', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.04em;
  transition: all var(--defolt-animation);
}
.logo-bookshelf:hover {
  color: var(--main-color);
}
.form-check {
  margin: 0;
  padding: 0;
  gap: 14px;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
  
}

/* TABLET 768 */

.header-home-on {
  z-index: 15;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header-home-on {
  padding: 8px 16px;
  gap: 10px;
  border: none;
  width: 72px;
  height: 34px;
  margin-right: 16px;
  background: var(--accent-color);
  border-radius: 36px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
}

/* .user-menu {
  z-index: 15;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
} */

.header-shopping-on {
  display: flex;
  align-items: center;
}


/* MOBILE HOME SHOP */

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-content {
    padding: 0 32px;
    height: 72px;
    justify-content: stretch;
  }
  .logo {
    margin-right: 40px;
  }

  .icon-menu-burger,
  .header-menu-closed {
    display: none;
  }

  .header-menu-open {
    display: none;
  }

  .form-check {
    margin-left: auto;
    margin-right: 24px;
  }
}

/* DESKTOP 1440 */

@media screen and (min-width: 1440px) {
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .icon-menu-burger,
  .header-menu-closed,
  .header-menu-open {
    display: none;
  }

  .header-content {
    padding: 0 24px;
    justify-content: stretch;
  }
  .logo {
    margin-right: 76px;
  }

  .form-check {
    margin-left: auto;
    margin-right: 24px;
  }
}


.header-home-btn {
  width: 72px;
  height: 34px;
  margin-bottom: 24px;
}
.header-home-btn:hover {
  border: #111111;
}
@media screen and (min-width: 768px) {
  .header-home-btn {
    margin-bottom: 0;
    margin-right: 24px;
  }
}

.header-shopping-btn {
  width: 156px;
  height: 34px;
}

.header-home-btn,
.header-shopping-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 36px;
  background-color: transparent;
  transition: all var(--transition-rule);
}

@media screen and (min-width: 768px) {
  .header-home-btn,
  .header-shopping-btn {
    color: var(--H2-textcolor);
    transition: all var(--defolt-animation);
  }
}

.dark-theme .header-home-btn,
.dark-theme .header-shopping-btn {
  color: #ffffff;
}

/* .header-home-btn.active,
.header-shopping-btn.active {
  font-weight: 700;
  background: #eac645;
} */
.header-home-btn:hover,
.header-shopping-btn:hover {
  font-weight: 700;
  background: #eac645;
}


.header-shopping-logo {
  margin-left: 5px;
  fill: #ffffff;
}

.dark-theme .header-shopping-logo {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .header-shopping-logo {
    fill: var(--H2-textcolor);
  }
}

.menu-nav {
  width: 100%;
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}