.aside-flex {
  margin-bottom: 40px;
}

@media screen and (min-width: 375px) {
  .main-content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .home-page__flex {
    padding-bottom: 100px;
  }

  .main-content {
    width: 768px;
  }

  .aside-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .home-page__flex {
    padding-bottom: 72px;
  }

  .books-wrapper {
    width: 996px;
  }

  .aside-flex {
    display: block;

    padding-right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container-besrsellers {
    width: 1020px;
    padding-left: 0;
    padding-right: 24px;
    margin-right: auto;
  }
}

.titel-span {
  color: #4f2ee8;
}

.item-category {
  margin-bottom: 40px;
}

.item-category:last-child {
  margin-bottom: 0;
}

.title-category {
  margin-bottom: 18px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
}

@media screen and (min-width: 768px) {
  .title-category {
    line-height: 1.71;
  }
}

.list-books:not(:last-child) {
  margin-bottom: 8px;
}

.item-book {
  max-width: 335px;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-book:not(:first-child) {
  display: none;
}
.item-book:hover,
.item-book:focus {
  padding: 2px;
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: var(--defolt-animation);
}

.pict-book {
  margin-bottom: 14px;
  width: 100%;
  height: 535px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .pict-book {
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .pict-book {
    height: 256px;
  }
}
.title-book {
  margin-bottom: 4px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #111111;
}

.author {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;

  color: #b4afaf;
}

@media screen and (min-width: 768px) {
  .list-books {
    display: flex;
    justify-content: flex-start;
    grid-gap: 25px;
  }

  .list-books:not(:last-child) {
    margin-bottom: 20px;
  }

  .item-book {
    width: 218px;
  }

  .item-book:not(:first-child) {
    display: block;
  }
  .item-book:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .list-books {
    display: flex;
    justify-content: flex-start;
    grid-gap: 24px;
  }

  .list-books:not(:last-child) {
    margin-bottom: 40px;
  }

  .item-book {
    width: 180px;
  }
  .item-book:nth-child(n + 4) {
    display: block;
  }
  .item-book:nth-child(n + 6) {
    display: none;
  }
}

.btn-seemore {
  display: block;
  cursor: pointer;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 26px;
  padding-right: 26px;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  text-transform: uppercase;

  color: #111111;
  border: 2px solid #4f2ee8;
  border-radius: 40px;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-seemore:hover,
.btn-seemore:focus {
  color: #ffffff;
  background-color: #4f2ee8;
}

/* ========================= Стилі для обранної категорії */
.list-select-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 40px;
}

.item-book-select {
  max-width: 335px;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1),
    padding 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-book-select:hover,
.item-book-select:focus {
  padding: 2px;
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: var(--defolt-animation);

  /* box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.178); */
}

@media screen and (min-width: 768px) {
  .list-select-category {
    grid-gap: 40px 25px;
  }

  .item-book-select {
    width: 218px;
  }
}

@media screen and (min-width: 1440px) {
  .list-select-category {
    grid-gap: 40px 24px;
  }

  .item-book-select {
    width: 180px;
  }
}

/* =================================================================================== */

@media (min-width: 768px) {
  .books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
  }

  .book-list__item {
    flex-basis: calc((100% - 75px) / 3);
  }
}

@media (min-width: 1440px) {
  .books-list {
    grid-column-gap: 24px;
  }
  .book-list__item {
    flex-basis: calc((100% - 96px) / 5);
  }
}

.categories-list__title {
  font-family: 'DM Sans Bold';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;

  color: var(--H2-textcolor);
  margin-bottom: 40px;
}

.book-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .book-list__item {
    margin-bottom: 40px;
  }
}

.book-tittle {
  font-family: 'DM Sans Bold';
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--H2-textcolor);

  margin-bottom: 4px;
}

.book-author {
  font-family: 'DM Sans Regular';
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;

  color: #b4afaf;
}

.book-thumb {
  position: relative;
  overflow: hidden;
  max-width: 335px;
  height: 485px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .book-thumb {
    height: 316px;
    width: 218px;
  }
}
@media (min-width: 1440px) {
  .book-thumb {
    height: 256px;
    width: 180px;
  }
}

.book-overlay {
  font-family: 'DM Sans Regular';
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--H2-textcolor);

  background: var(--accent-color);
  width: 100%;
  height: 30%;
  position: absolute;
  transform: translateY(100%);
  transition: var(--defolt-animation);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list__item a:hover .book-overlay {
  transform: translateY(-100%);
}
