.btn-shop-list{
    width: 44px;
    height: 44px;
    border: 1px solid #000000;
    border-radius: 50%;
}
/* .btn-shop-list.selected-page{
  background-color: #000000;
  color: white;
} */
.btn-shop-list:hover, .btn-shop-list:focus, .btn-shop-list:visited {
  background-color: #000000;
  color: white;
}

.pagination-shop-list{
  display: flex;
  justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    gap: 10px;
  }

  @media screen and (min-width: 375px){
    .btn-shop-list{
      width: 38px;
      height: 38px;
      font-size: 18px;
    }
  }
