/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./loader.css');
@import url('./all-—Åategory.css');
@import url('./support-UA.css');
@import url('./main-home.css');
@import url('./list-shop-list.css');
@import url('./footer.css');
@import url('./modal-window.css');
@import url('./authorization-modal.css');
@import url('./authorization-backdrop.css');


:root {
  font-family: 'DM Sans Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-header: rgb(255, 255, 255);
  --background-main: #d0d0d0;
  --main-textcolor: #11111199;
  --H2-textcolor: #111111;
  --main-color: rgb(79, 46, 232);
  --accent-color: rgb(234, 198, 69);
  --hover-button: rgba(79, 46, 232, 1);
  --defolt-animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

:root[theme='dark'] {
  --panel-bg-color: rgba(17, 17, 17, 1);
  --container-bg-color: rgba(32, 32, 36, 1);
  --text-color: #ffffff;
}

@media (min-width: 768px) {
  .aside-flex {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .home-page__flex {
    display: flex;
    gap: 40px;
  }

  .aside-flex {
    display: block;
  }
}
