/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./all-—Åategory.css');
@import url('./support-UA.css');
@import url('./main-home.css');
@import url('./list-shop-list.css');
@import url('./footer.css');
@import url('./modal-window.css');


:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-header: #FFFFFF;
  --background-main: #D0D0D0;
  --main-textcolor: rgba(17, 17, 17, 0.6);
  --H2-textcolor: rgba(17, 17, 17, 1);
  --main-color: #4F2EE8;
  --accent-color: #EAC645;
  --hover-button: rgba(79, 46, 232, 1);
  --defolt-animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);

}
:root[theme='dark'] {
  --panel-bg-color: rgba(17, 17, 17, 1);
  --container-bg-color: rgba(32, 32, 36, 1);
  --text-color: #FFFFFF;
}